/* 内容页图片 */
.VPContent .VPDoc img {
  box-shadow: 0px 0px 20px 8px rgba(62, 66, 66, 0.3);
}


/* 自定义主题颜色 */
:root {
  /* 微信绿色色系 - 根据 indigo 的颜色规律调整 */
  --vp-c-wechat-1: #059048;
  /* 最深的微信绿 - 对应 indigo-1 */
  --vp-c-wechat-2: #06AD56;
  /* 中等的微信绿 - 对应 indigo-2 */
  --vp-c-wechat-3: #07C160;
  /* 标准微信绿 - 对应 indigo-3 */
  --vp-c-wechat-soft: rgba(7, 193, 96, 0.14);
  /* 微信绿半透明 - 对应 indigo-soft */


  /* brand 颜色 */
  --vp-c-brand-1: var(--vp-c-wechat-1);
  --vp-c-brand-2: var(--vp-c-wechat-2);
  --vp-c-brand-3: var(--vp-c-wechat-3);
  --vp-c-brand-soft: var(--vp-c-wechat-soft);
}